* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


header a {
  text-decoration: none;
  color: inherit;
}


.top-bar {
  background: #d82323;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  font-size: 0.9rem;
  font-size: 17px;
}

.top-links a,
.top-actions a {
  margin: 0 0.8rem;
  color: #fff;
  transition: 0.3s;
}

.top-links a:hover,
.top-actions a:hover {
  text-decoration: underline;
}


.middle-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #d82323;
}

.search-box {
  display: flex;
  border: 1px solid #ccc;
}

.search-box input {
  padding: 0.5rem;
  border: none;
  outline: none;
  width: 250px;
}

.search-box button {
  background: #f9f9f9;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.contact {
  font-size: 0.9rem;
  color: #333;
}

/* Category bar */
.category-bar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #e5e7eb;
  background: #fff;
}

.category-bar a {
  color: #333;
  transition: color 0.3s;
}

.category-bar a:hover {
  color: #d82323;
}
