* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background: #080560;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  border-radius: 5px;
  transition: background 0.3s;
  align-items: center;
}

.menu-btn:hover {
  background: #1912db;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
  color: #080560;
}

.sidebar.open {
  width: 250px;
}

.sidebar .close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-links span,
.sidebar-actions span {
  display: block;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 17px;
  border-bottom: 1px solid rgba(13, 25, 255, 0.2);
}

.sidebar-links span:hover,
.sidebar-actions span:hover {
  color: #1912db;
}

/* middle bar */
.middle-bar {
  background: #080560;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 30px;
}

.logo:hover {
  color: #ccc;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  width: 400px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 25px;
  font-size: 14px;
}
.search-box button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.search-box button:hover {
  background: #e0dddd;
}

/* !!! */
.search-results {
  position: absolute;
  top: 110%; 
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}
.search-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background 0.2s ease;
  text-align: left;
  font-weight: 700;
}

.search-item:hover {
  background: #f5f5f5;
}
.search-item.no-results {
  color: #888;
  cursor: default;
}
.search-img {
  width: 7%;   
  height: 7%;
  object-fit: cover;
  border-radius: 4px; 
  border: 1px solid #ddd;
  margin-right:5px ;
}

/* !!! */
.user-cart {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;

}
.user-cart span {
  display: flex;  
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  gap: 5px;
}

.user-cart span:hover{
    color: #ccc;
;
}
.contact  {
  font-size: 18px;
  color: #333;
  position: absolute;
  right: 20px;  
}
.user-name{
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.user-name:hover {
  color: #ccc;
}
.category-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #e5e7eb;
  background: #fff;
  font-size: 18px;
}

.category-bar a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.category-bar a:hover {
  color: #080560;
}

.chat-us {
  cursor: pointer;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.chat-us:hover {
  color: #0e0987;
}
